name: Manual Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose an env.."
        required: true
        default: "staging"
        type: choice
        options:
          - staging 
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: test manual
        run: echo "Running manual workflow..."
        
